<md-card>
    <md-toolbar class="padding-20 text-center" md-theme="{{::triSkin.elements.logo}}">
        <a ng-href="{{'http://'+vm.siteURL+'/'}}"><img ng-src="{{::vm.triSettings.logo}}" alt="{{vm.triSettings.name}}"></a>
        <h1 class="md-headline" translate>Sign up</h1>
        <h4 palette-background="griffin-orange:50" ng-if="vm.registrationFailed"  translate>{{vm.errorMessage}}</h4>

    </md-toolbar>


    <md-content class="md-padding">
        <div layout="row" layout-align="center center">
          <md-progress-circular class="md-primary" md-mode="indeterminate" ng-if="vm.registering"></md-progress-circular>
        </div>
        <form name="signup">
            <md-input-container class="md-block">
                <label for="firstname" translate>First Name</label>
                <input id="firstname" label="First Name" name="firstname" type="text" ng-model="vm.user.firstname" required/>
                <div ng-messages="signup.firstname.$error" md-auto-hide="false" ng-show="signup.firstname.$touched">
                    <div ng-message when="required">
                        <span translate>Please enter your first name</span>
                    </div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label for="lastname" translate>Last Name</label>
                <input id="lastname" label="lastname" name="lastname" type="text" ng-model="vm.user.lastname" required/>
                <div ng-messages="signup.lastname.$error" md-auto-hide="false" ng-show="signup.lastname.$touched">
                    <div ng-message when="required">
                        <span translate>Please enter your last name</span>
                    </div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label for="email" translate>Email Address</label>
                <input id="email" label="email" name="email" type="email" ng-model="vm.user.email" required/>
                <div ng-messages="signup.email.$error" md-auto-hide="false" ng-show="signup.email.$touched">
                    <div ng-message when="required">
                        <span translate>Please enter your email address</span>
                    </div>
                    <div ng-message when="email">
                        <span translate>Please enter a valid email address</span>
                    </div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label for="contact_number" translate>Phone Number</label>
                <input id="contact_number" label="contact_number" name="contact_number" type="number" ng-model="vm.user.contact_number" required/>
                <div ng-messages="signup.contact_number.$error" md-auto-hide="false" ng-show="signup.contact_number.$touched">
                    <div ng-message when="required">
                        <span translate>Please enter your phone number</span>
                    </div>

                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label for="password" translate>Password</label>
                <input id="password" label="password" name="password" type="password" ng-model="vm.user.password" tri-same-password="signup.confirm" ng-minlength="8" required/>
                <ng-messages for="signup.password.$error" md-auto-hide="false" ng-show="signup.password.$touched">
                    <div ng-message when="required">
                        <span translate>Please enter a password</span>
                    </div>
                    <div ng-message when="minlength">
                        <span translate>Your password must be greater than 8 characters long</span>
                    </div>
                    <div ng-message when="samePassword">
                        <span translate>You need to enter the same password</span>
                    </div>
                </ng-messages>
            </md-input-container>

            <md-input-container class="md-block">
                <label for="password" translate>Confirm Password</label>
                <input id="confirm" label="confirm" name="confirm" type="password" ng-model="vm.user.confirm" tri-same-password="signup.password" ng-minlength="8" required/>
                <ng-messages for="signup.confirm.$error" md-auto-hide="false" ng-show="signup.confirm.$touched">
                    <div ng-message when="required">
                        <span translate>Please enter a password</span>
                    </div>
                    <div ng-message when="minlength">
                        <span translate>Your password must be greater than 8 characters long</span>
                    </div>
                    <div ng-message when="samePassword">
                        <span translate>You need to enter the same password</span>
                    </div>
                </ng-messages>
            </md-input-container>

            <md-select placeholder="Select the comptetition in your Country" ng-model="vm.user.competitionId" required>
                <md-option ng-repeat = "competition in vm.competitions"value="{{competition.id}}">{{competition.displayname}}</md-option>

            </md-select>




            <md-button class="md-raised md-primary white-text full-width margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" ng-click="vm.signupClick()" ng-disabled="signup.$invalid" translate="Sign Up" aria-label="{{'Sign Up' | triTranslate}}"></md-button>

            <md-button  class="md-primary full-width margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" href="#/login" translate="Already have an account? Login here." aria-label="{{'Already have an account? Login here.' | triTranslate}}"></md-button>

        </form>
    </md-content>

</md-card>
