<md-dialog aria-label="Mango (Fruit)" flex="50" flex-xs="100">
  <div ng-if="!vm.editMode" class="crop"><img src="assets/images/backgrounds/material-backgrounds/mb-bg-29.jpg" alt="Card Image">

  </div>
  <div layout="row"  ng-if="!vm.editMode">
    <div flex="90">

    </div>
    <md-button ng-click="vm.editMode = true;" class="md-fab md-accent" style="margin-top:-37px" >
        <md-icon md-font-icon="zmdi zmdi-edit"></md-icon>
        <md-tooltip>Edit {{vm.model.singular_label}}</md-tooltip>
    </md-button>
  </div>

    <md-toolbar md-theme="{{triSkin.elements.content}}" ng-if="vm.editMode">
        <div class="md-toolbar-tools">
            <h2>
                <span> {{vm.selected.length == 1? "Edit":"Add"}} {{vm.model.singular_label}}</span>
            </h2>
        </div>
    </md-toolbar>

    <md-divider ng-if="editMode"></md-divider>

    <md-dialog-content class="md-dialog-content">
        <form name="taskForm" novalidate layout="column" ng-if="vm.editMode">
            <md-input-container ng-repeat = "field in vm.inputs">
                <label translate>{{field.label}}</label>
                <input
                    dynamic-model="'vm.object.'+field.name"
                    class="dialog-close"
                    name="task" ng-required={{field.required}}
                    ng-maxlength="{{field.maxtrlength}}"/>
                <div ng-messages="taskForm.task.$error">
                    <div ng-message when="required">
                        <span translate>Please enter a {{vm.model.objectType | lowercase}} name</span>
                    </div>
                    <div ng-message when="maxlength">
                        <span translate>The {{vm.model.objectType | lowercase}} name should not be longer than 50 characters</span>
                    </div>
                </div>
            </md-input-container>
            <div ng-repeat = "select in vm.selects">
              <md-select placeholder="{{select.label}}"  dynamic-model="'vm.object.'+select.name">
                  <md-option ng-repeat = "ref in select.refs"value="{{ref.id}}">{{ref.name || ref.first_name + ' ' + ref.last_name}}</md-option>

              </md-select>
            </div>

            <div ng-repeat = "select in vm.predefinedSelects">
              <md-select placeholder="{{select.label}}" dynamic-model="'vm.object.'+select.name">
                  <md-option ng-repeat = "ref in select.refs"value="{{ref.value}}">{{ref.label}}</md-option>

              </md-select>
            </div>


            <div ng-repeat = "chip in vm.chips" ng-controller = "ReferenceSelectorController as ctrl">
              {{chip.name}}
              <!--md-chips dynamic-model="'vm.object.'+type.substring(0, type.length-1)+'_set'"
                        md-transform-chip="ctrl.transformChip($chip)"
                        md-require-match="ctrl.autocompleteDemoRequireMatch"
                        name = "{{chip.name}}">
                  <md-autocomplete
                      md-selected-item="ctrl.selectedItem"
                      md-search-text="ctrl.searchText"
                      md-items="item in ctrl.delayedQuerySearch(ctrl.searchText)"
                      md-item-text="item.name"
                      placeholder="+ {{chip.name}}">
                    <span md-highlight-text="ctrl.searchText">{{item.name}}</span>
                  </md-autocomplete>
                  <md-chip-template>
                    <span>
                      {{ctrl.current = chip.name;}}
                      <strong>{{$chip.name}}</strong>

                    </span>
                  </md-chip-template>
              </md-chips-->
              <md-contact-chips dynamic-model="'ctrl.refs.'+type.substring(0, type.length-1)+'_set'"
                  dynamic-model="'vm.object.'+type.substring(0, type.length-1)+'_set'"
                  md-contacts="ctrl.delayedQuerySearch($query, chip.name)"
                  md-contact-name="name"
                  md-contact-image="image"
                  md-contact-email="email"
                  md-require-match="true"
                  md-highlight-flags="i"
                  filter-selected="ctrl.filterSelected"
                  placeholder="To">
              </md-contact-chips>
            </div>
            <div ng-repeat = "dateCtrl in vm.dateControls">
              <md-datepicker dynamic-model="'vm.object.'+dateCtrl.name" md-placeholder="{{dateCtrl.label}}"></md-datepicker>
            </div>




        </form>

        <div ng-if = "!vm.editMode" style="margin-top:-30px" layout>
          <div flex = "100">
            <h2>{{vm.selected[0].name}}</h2>
            <div ng-repeat = "field in vm.fields | orderBy: 'detail_index'" ng-if="vm.selected[0][field.name] !== null && vm.selected[0][field.name] !== undefined && vm.selected[0][field.name] !== ''">
              <span style="font-size:0.8em; color:gray">{{field.label}}</span><br />
              <span>
                {{
                    (field.type == 'date')?
                        (vm.selected[0][field.name] | date: 'MMM dd, yyyy')
                        :((field.type == 'belongsTo')?(vm.selected[0][field.name].name): (vm.selected[0][field.name]))
                }}
              </span>
            </div>

            <!--div ng-repeat = "field in vm.arrayFields | orderBy: 'detail_index'" ng-if="vm.selected[0][field.name] !== null && vm.selected[0][field.name] !== undefined && vm.selected[0][field.name] !== ''">
              <span style="font-size:0.8em; color:gray">{{field.label}}</span><br />
              <span ng-repeat = "field in vm.selected[0][field.name]">
                {{
                  field
                }}<br />
              </span>
            </div-->


            <div ng-repeat = "field in vm.embeddedArrayFiles | orderBy: 'detail_index'" >
              <span style="font-size:0.8em; color:gray">{{field.label}}</span><br />
              <span ng-repeat = "(key,data) in vm.selected[0][field.name][0]" ng-if="key !== 'id' && key !== 'entrepreneurId'">
                <strong>{{(key=='createdAt')?'Created At':((key=='updatedAt')?'Updated At':key)}}:</strong> <p>{{(key=='createdAt' || key=='updatedAt')?(data | date: 'MMM dd, yyyy hh:mm a'): data}}</p>
              </span>
            </div>

          </div>

          <div flex style="margin-top:55px">

            <div ng-repeat="set in vm.childSets">
                <h3 ng-if="set.length>0">{{vm.childSetHeadings[$index][0] | uppercase}}{{vm.childSetHeadings[$index].substring(1,vm.childSetHeadings[$index].length)}}</h3>
                  <div ng-repeat="child in set">{{child.name}}</div>


            </div>


          </div>

        </div>

        <div layout="row" layout-align="center center">
          <md-progress-circular class="md-primary" md-mode="indeterminate" ng-if="!vm.controlsResource.then()" style="margin-top:-70px"></md-progress-circular>
        </div>

    </md-dialog-content>
    <md-dialog-actions layout="row" >
        <span flex></span>
        <md-button ng-click="vm.cancel()">Cancel</md-button>
        <md-button ng-click="vm.hide()" class="md-primary" ng-disabled="taskForm.$invalid" ng-if = "vm.editMode">Save</md-button>
    </md-dialog-actions>
</md-dialog>
