<div layout="row" layout-fill>
    <div class="animate-wrapper" flex layout="column">
        <div id="ui-login" class="login-frame" ui-view flex layout="column" layout-align="center center"></div>

        <div layout="row" layout-align="center center" style="padding-bottom:45px; margin-bottom:-50px; color:#D3D3D3">
          <h3>Browser Compatibility</h3>
        </div>
        <div layout="row" layout-align="center center" style="padding-bottom:20px; color:#C0C0C0; font-size:0.8em">

          <i class="fa fa-internet-explorer"></i>&nbsp;Edge&nbsp;&nbsp; <i class="fa fa-chrome"></i>&nbsp;Chrome 42+&nbsp;&nbsp;<i class="fa fa-firefox"></i>&nbsp;Firefox 34+ &nbsp;&nbsp; <i class="fa fa-safari"></i> &nbsp; Safari 9+ &nbsp;&nbsp;<i class="fa fa-opera"></i>&nbsp;Opera 29+
        </div>
    </div>

</div>
