<h1><code ng:non-bindable="">ProvincesController</code>
<div><span class="hint">controller in module <code ng:non-bindable="">app.cora.admin-ui</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-cora-admin-ui-controller-page app-cora-admin-ui-controller-provincescontroller-page"><p>This is a controller for the Provinces View</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_activate">activate()</h3>
<div class="activate"><div class="activate-page"><p>This method initialises the view by setting default page and querying data</p>
</div></div>
</li>
<li><h3 id="methods_addprovince">addProvince()</h3>
<div class="addprovince"><div class="addprovince-page"><p>Boardcasts addProvince event</p>
</div></div>
</li>
<li><h3 id="methods_addprovince">addProvince()</h3>
<div class="addprovince"><div class="addprovince-page"><p>Binds addProvince event to action</p>
</div></div>
</li>
<li><h3 id="methods_deleteprovince">deleteProvince()</h3>
<div class="deleteprovince"><div class="deleteprovince-page"><p>Broadcasts deleteProvince event</p>
</div></div>
</li>
<li><h3 id="methods_deleteprovince">deleteProvince()</h3>
<div class="deleteprovince"><div class="deleteprovince-page"><p>Binds deleteProvince event to action</p>
</div></div>
</li>
<li><h3 id="methods_editprovince">editProvince()</h3>
<div class="editprovince"><div class="editprovince-page"><p>Boardcasts editProvince event</p>
</div></div>
</li>
<li><h3 id="methods_editprovince">editProvince()</h3>
<div class="editprovince"><div class="editprovince-page"><p>Binds editProvince event to action</p>
</div></div>
</li>
<li><h3 id="methods_getprovinces">getProvinces()</h3>
<div class="getprovinces"><div class="getprovinces-page"><p>Queries API for view data</p>
</div></div>
</li>
<li><h3 id="methods_removefilter">removeFilter()</h3>
<div class="removefilter"><div class="removefilter-page"><p>This method removes filters and returns view to initial state</p>
</div></div>
</li>
</ul>
</div>
</div>
