<h1><code ng:non-bindable="">ChipService</code>
<div><span class="hint">service in module <code ng:non-bindable="">app.cora</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-cora-service-page app-cora-service-chipservice-page"><p>This service provides high-level abstraction for all API calls creating chips</p>
</div></div>
</div>
