<h1><code ng:non-bindable="">AdministratorsController</code>
<div><span class="hint">controller in module <code ng:non-bindable="">app.cora.users</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-cora-users-controller-page app-cora-users-controller-administratorscontroller-page"><p>This is a controller for the Administrators View</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_activate">activate()</h3>
<div class="activate"><div class="activate-page"><p>This method initialises the view by setting default page and querying data</p>
</div></div>
</li>
<li><h3 id="methods_addadministrator">addAdministrator()</h3>
<div class="addadministrator"><div class="addadministrator-page"><p>Boardcasts addAdministrator event</p>
</div></div>
</li>
<li><h3 id="methods_addadministrator">addAdministrator()</h3>
<div class="addadministrator"><div class="addadministrator-page"><p>Binds addAdministrator event to action</p>
</div></div>
</li>
<li><h3 id="methods_deleteadministrator">deleteAdministrator()</h3>
<div class="deleteadministrator"><div class="deleteadministrator-page"><p>Broadcasts deleteAdministrator event</p>
</div></div>
</li>
<li><h3 id="methods_deleteadministrator">deleteAdministrator()</h3>
<div class="deleteadministrator"><div class="deleteadministrator-page"><p>Binds deleteAdministrator event to action</p>
</div></div>
</li>
<li><h3 id="methods_editadministrator">editAdministrator()</h3>
<div class="editadministrator"><div class="editadministrator-page"><p>Boardcasts editAdministrator event</p>
</div></div>
</li>
<li><h3 id="methods_editadministrator">editAdministrator()</h3>
<div class="editadministrator"><div class="editadministrator-page"><p>Binds editAdministrator event to action</p>
</div></div>
</li>
<li><h3 id="methods_getadministrators">getAdministrators()</h3>
<div class="getadministrators"><div class="getadministrators-page"><p>Queries API for view data</p>
</div></div>
</li>
<li><h3 id="methods_removefilter">removeFilter()</h3>
<div class="removefilter"><div class="removefilter-page"><p>This method removes filters and returns view to initial state</p>
</div></div>
</li>
</ul>
</div>
</div>
