<h1><code ng:non-bindable="">AlertService</code>
<div><span class="hint">service in module <code ng:non-bindable="">app.cora</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-cora-service-page app-cora-service-alertservice-page"><p>This service provides high-level abstraction for all API calls.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_showalert">showAlert(message, parent)</h3>
<div class="showalert"><div class="showalert-page"><p>Creates and shows an mdToast at the bottom right with the provided message</p>
</div><h5 id="methods_showalert_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>message</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="showalert-page"><p>Message to display in toast</p>
</div></td></tr><tr><td>parent</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="showalert-page"><p>Calling object</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_showalert">showAlert(message, parent)</h3>
<div class="showalert"><div class="showalert-page"><p>Creates and shows an mdToast at the bottom right with the provided message</p>
</div><h5 id="methods_showalert_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>message</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="showalert-page"><p>Message to display in toast</p>
</div></td></tr><tr><td>parent</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="showalert-page"><p>Calling object</p>
</div></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
