<h1><code ng:non-bindable="">Analytics_UsersController</code>
<div><span class="hint">controller in module <code ng:non-bindable="">app.cora.users</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-cora-users-controller-page app-cora-users-controller-analytics-userscontroller-page"><p>This is a controller for the Analytics_Users View</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_activate">activate()</h3>
<div class="activate"><div class="activate-page"><p>This method initialises the view by setting default page and querying data</p>
</div></div>
</li>
<li><h3 id="methods_addanalytics_user">addAnalytics_User()</h3>
<div class="addanalytics_user"><div class="addanalytics-user-page"><p>Boardcasts addAnalytics_User event</p>
</div></div>
</li>
<li><h3 id="methods_addanalytics_user">addAnalytics_User()</h3>
<div class="addanalytics_user"><div class="addanalytics-user-page"><p>Binds addAnalytics_User event to action</p>
</div></div>
</li>
<li><h3 id="methods_deleteanalytics_user">deleteAnalytics_User()</h3>
<div class="deleteanalytics_user"><div class="deleteanalytics-user-page"><p>Broadcasts deleteAnalytics_User event</p>
</div></div>
</li>
<li><h3 id="methods_deleteanalytics_user">deleteAnalytics_User()</h3>
<div class="deleteanalytics_user"><div class="deleteanalytics-user-page"><p>Binds deleteAnalytics_User event to action</p>
</div></div>
</li>
<li><h3 id="methods_editanalytics_user">editAnalytics_User()</h3>
<div class="editanalytics_user"><div class="editanalytics-user-page"><p>Boardcasts editAnalytics_User event</p>
</div></div>
</li>
<li><h3 id="methods_editanalytics_user">editAnalytics_User()</h3>
<div class="editanalytics_user"><div class="editanalytics-user-page"><p>Binds editAnalytics_User event to action</p>
</div></div>
</li>
<li><h3 id="methods_getanalytics_users">getAnalytics_Users()</h3>
<div class="getanalytics_users"><div class="getanalytics-users-page"><p>Queries API for view data</p>
</div></div>
</li>
<li><h3 id="methods_removefilter">removeFilter()</h3>
<div class="removefilter"><div class="removefilter-page"><p>This method removes filters and returns view to initial state</p>
</div></div>
</li>
</ul>
</div>
</div>
