<h1><code ng:non-bindable="">PackagingController</code>
<div><span class="hint">controller in module <code ng:non-bindable="">app.cora.admin-ui</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-cora-admin-ui-controller-page app-cora-admin-ui-controller-packagingcontroller-page"><p>This is a controller for the Packaging View</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_activate">activate()</h3>
<div class="activate"><div class="activate-page"><p>This method initialises the view by setting default page and querying data</p>
</div></div>
</li>
<li><h3 id="methods_addpackaging">addPackaging()</h3>
<div class="addpackaging"><div class="addpackaging-page"><p>Boardcasts addPackaging event</p>
</div></div>
</li>
<li><h3 id="methods_addpackaging">addPackaging()</h3>
<div class="addpackaging"><div class="addpackaging-page"><p>Binds addPackaging event to action</p>
</div></div>
</li>
<li><h3 id="methods_deletepackaging">deletePackaging()</h3>
<div class="deletepackaging"><div class="deletepackaging-page"><p>Broadcasts deletePackaging event</p>
</div></div>
</li>
<li><h3 id="methods_deletepackaging">deletePackaging()</h3>
<div class="deletepackaging"><div class="deletepackaging-page"><p>Binds deletePackaging event to action</p>
</div></div>
</li>
<li><h3 id="methods_editpackaging">editPackaging()</h3>
<div class="editpackaging"><div class="editpackaging-page"><p>Boardcasts editPackaging event</p>
</div></div>
</li>
<li><h3 id="methods_editpackaging">editPackaging()</h3>
<div class="editpackaging"><div class="editpackaging-page"><p>Binds editPackaging event to action</p>
</div></div>
</li>
<li><h3 id="methods_getpackaging">getPackaging()</h3>
<div class="getpackaging"><div class="getpackaging-page"><p>Queries API for view data</p>
</div></div>
</li>
<li><h3 id="methods_removefilter">removeFilter()</h3>
<div class="removefilter"><div class="removefilter-page"><p>This method removes filters and returns view to initial state</p>
</div></div>
</li>
</ul>
</div>
</div>
