<h1><code ng:non-bindable="">APIService</code>
<div><span class="hint">service in module <code ng:non-bindable="">app.cora</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-cora-service-page app-cora-service-apiservice-page"><p>This service provides high-level abstraction for all API calls.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_delete">delete(object)</h3>
<div class="delete"><div class="delete-page"><p>This method is for deleting instances of entities via the API</p>
</div><h5 id="methods_delete_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>object</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="delete-page"><p>object to delete</p>
</div></td></tr></tbody></table><h5 id="methods_delete_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">$promise</a></td><td><div class="delete-page"><p>$http promise</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_query">query(object)</h3>
<div class="query"><div class="query-page"><p>This method queries the API using the GET method</p>
</div><h5 id="methods_query_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>object</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="query-page"><p>specific object to retrieve. Leave blank to return all objects</p>
</div></td></tr></tbody></table><h5 id="methods_query_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">$promise</a></td><td><div class="query-page"><p>$http promise</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_save">save(object)</h3>
<div class="save"><div class="save-page"><p>This method is for creating instances of entities via the API</p>
</div><h5 id="methods_save_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>object</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="save-page"><p>object to create</p>
</div></td></tr></tbody></table><h5 id="methods_save_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">$promise</a></td><td><div class="save-page"><p>$http promise</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_update">update(object)</h3>
<div class="update"><div class="update-page"><p>This method is for updating instances of entities via the API</p>
</div><h5 id="methods_update_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>object</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="update-page"><p>object to update</p>
</div></td></tr></tbody></table><h5 id="methods_update_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">$promise</a></td><td><div class="update-page"><p>$http promise</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
