<h1><code ng:non-bindable="">FarmersController</code>
<div><span class="hint">controller in module <code ng:non-bindable="">app.cora.users</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-cora-users-controller-page app-cora-users-controller-farmerscontroller-page"><p>This is a controller for the Farmers View</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_activate">activate()</h3>
<div class="activate"><div class="activate-page"><p>This method initialises the view by setting default page and querying data</p>
</div></div>
</li>
<li><h3 id="methods_addfarmer">addFarmer()</h3>
<div class="addfarmer"><div class="addfarmer-page"><p>Boardcasts addFarmer event</p>
</div></div>
</li>
<li><h3 id="methods_addfarmer">addFarmer()</h3>
<div class="addfarmer"><div class="addfarmer-page"><p>Binds addFarmer event to action</p>
</div></div>
</li>
<li><h3 id="methods_deletefarmer">deleteFarmer()</h3>
<div class="deletefarmer"><div class="deletefarmer-page"><p>Broadcasts deleteFarmer event</p>
</div></div>
</li>
<li><h3 id="methods_deletefarmer">deleteFarmer()</h3>
<div class="deletefarmer"><div class="deletefarmer-page"><p>Binds deleteFarmer event to action</p>
</div></div>
</li>
<li><h3 id="methods_editfarmer">editFarmer()</h3>
<div class="editfarmer"><div class="editfarmer-page"><p>Boardcasts editFarmer event</p>
</div></div>
</li>
<li><h3 id="methods_editfarmer">editFarmer()</h3>
<div class="editfarmer"><div class="editfarmer-page"><p>Binds editFarmer event to action</p>
</div></div>
</li>
<li><h3 id="methods_getfarmers">getFarmers()</h3>
<div class="getfarmers"><div class="getfarmers-page"><p>Queries API for view data</p>
</div></div>
</li>
<li><h3 id="methods_removefilter">removeFilter()</h3>
<div class="removefilter"><div class="removefilter-page"><p>This method removes filters and returns view to initial state</p>
</div></div>
</li>
</ul>
</div>
</div>
