<h1><code ng:non-bindable="">DistrictsController</code>
<div><span class="hint">controller in module <code ng:non-bindable="">app.cora.admin-ui</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-cora-admin-ui-controller-page app-cora-admin-ui-controller-districtscontroller-page"><p>This is a controller for the Districts View</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_activate">activate()</h3>
<div class="activate"><div class="activate-page"><p>This method initialises the view by setting default page and querying data</p>
</div></div>
</li>
<li><h3 id="methods_adddistrict">addDistrict()</h3>
<div class="adddistrict"><div class="adddistrict-page"><p>Boardcasts addDistrict event</p>
</div></div>
</li>
<li><h3 id="methods_adddistrict">addDistrict()</h3>
<div class="adddistrict"><div class="adddistrict-page"><p>Binds addDistrict event to action</p>
</div></div>
</li>
<li><h3 id="methods_deletedistrict">deleteDistrict()</h3>
<div class="deletedistrict"><div class="deletedistrict-page"><p>Broadcasts deleteDistrict event</p>
</div></div>
</li>
<li><h3 id="methods_deletedistrict">deleteDistrict()</h3>
<div class="deletedistrict"><div class="deletedistrict-page"><p>Binds deleteDistrict event to action</p>
</div></div>
</li>
<li><h3 id="methods_editdistrict">editDistrict()</h3>
<div class="editdistrict"><div class="editdistrict-page"><p>Boardcasts editDistrict event</p>
</div></div>
</li>
<li><h3 id="methods_editdistrict">editDistrict()</h3>
<div class="editdistrict"><div class="editdistrict-page"><p>Binds editDistrict event to action</p>
</div></div>
</li>
<li><h3 id="methods_getdistricts">getDistricts()</h3>
<div class="getdistricts"><div class="getdistricts-page"><p>Queries API for view data</p>
</div></div>
</li>
<li><h3 id="methods_removefilter">removeFilter()</h3>
<div class="removefilter"><div class="removefilter-page"><p>This method removes filters and returns view to initial state</p>
</div></div>
</li>
</ul>
</div>
</div>
