<h1><code ng:non-bindable="">WardsController</code>
<div><span class="hint">controller in module <code ng:non-bindable="">app.cora.admin-ui</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-cora-admin-ui-controller-page app-cora-admin-ui-controller-wardscontroller-page"><p>This is a controller for the Wards View</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_activate">activate()</h3>
<div class="activate"><div class="activate-page"><p>This method initialises the view by setting default page and querying data</p>
</div></div>
</li>
<li><h3 id="methods_addward">addWard()</h3>
<div class="addward"><div class="addward-page"><p>Boardcasts addWard event</p>
</div></div>
</li>
<li><h3 id="methods_addward">addWard()</h3>
<div class="addward"><div class="addward-page"><p>Binds addWard event to action</p>
</div></div>
</li>
<li><h3 id="methods_deleteward">deleteWard()</h3>
<div class="deleteward"><div class="deleteward-page"><p>Broadcasts deleteWard event</p>
</div></div>
</li>
<li><h3 id="methods_deleteward">deleteWard()</h3>
<div class="deleteward"><div class="deleteward-page"><p>Binds deleteWard event to action</p>
</div></div>
</li>
<li><h3 id="methods_editward">editWard()</h3>
<div class="editward"><div class="editward-page"><p>Boardcasts editWard event</p>
</div></div>
</li>
<li><h3 id="methods_editward">editWard()</h3>
<div class="editward"><div class="editward-page"><p>Binds editWard event to action</p>
</div></div>
</li>
<li><h3 id="methods_getwards">getWards()</h3>
<div class="getwards"><div class="getwards-page"><p>Queries API for view data</p>
</div></div>
</li>
<li><h3 id="methods_removefilter">removeFilter()</h3>
<div class="removefilter"><div class="removefilter-page"><p>This method removes filters and returns view to initial state</p>
</div></div>
</li>
</ul>
</div>
</div>
