<h1><code ng:non-bindable="">AggregatorsController</code>
<div><span class="hint">controller in module <code ng:non-bindable="">app.cora.users</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-cora-users-controller-page app-cora-users-controller-aggregatorscontroller-page"><p>This is a controller for the Aggregators View</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_activate">activate()</h3>
<div class="activate"><div class="activate-page"><p>This method initialises the view by setting default page and querying data</p>
</div></div>
</li>
<li><h3 id="methods_addaggregator">addAggregator()</h3>
<div class="addaggregator"><div class="addaggregator-page"><p>Boardcasts addAggregator event</p>
</div></div>
</li>
<li><h3 id="methods_addaggregator">addAggregator()</h3>
<div class="addaggregator"><div class="addaggregator-page"><p>Binds addAggregator event to action</p>
</div></div>
</li>
<li><h3 id="methods_deleteaggregator">deleteAggregator()</h3>
<div class="deleteaggregator"><div class="deleteaggregator-page"><p>Broadcasts deleteAggregator event</p>
</div></div>
</li>
<li><h3 id="methods_deleteaggregator">deleteAggregator()</h3>
<div class="deleteaggregator"><div class="deleteaggregator-page"><p>Binds deleteAggregator event to action</p>
</div></div>
</li>
<li><h3 id="methods_editaggregator">editAggregator()</h3>
<div class="editaggregator"><div class="editaggregator-page"><p>Boardcasts editAggregator event</p>
</div></div>
</li>
<li><h3 id="methods_editaggregator">editAggregator()</h3>
<div class="editaggregator"><div class="editaggregator-page"><p>Binds editAggregator event to action</p>
</div></div>
</li>
<li><h3 id="methods_getaggregators">getAggregators()</h3>
<div class="getaggregators"><div class="getaggregators-page"><p>Queries API for view data</p>
</div></div>
</li>
<li><h3 id="methods_removefilter">removeFilter()</h3>
<div class="removefilter"><div class="removefilter-page"><p>This method removes filters and returns view to initial state</p>
</div></div>
</li>
</ul>
</div>
</div>
