<h1><code ng:non-bindable="">AgentsController</code>
<div><span class="hint">controller in module <code ng:non-bindable="">app.cora.users</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-cora-users-controller-page app-cora-users-controller-agentscontroller-page"><p>This is a controller for the Agents View</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_activate">activate()</h3>
<div class="activate"><div class="activate-page"><p>This method initialises the view by setting default page and querying data</p>
</div></div>
</li>
<li><h3 id="methods_addagent">addAgent()</h3>
<div class="addagent"><div class="addagent-page"><p>Boardcasts addAgent event</p>
</div></div>
</li>
<li><h3 id="methods_addagent">addAgent()</h3>
<div class="addagent"><div class="addagent-page"><p>Binds addAgent event to action</p>
</div></div>
</li>
<li><h3 id="methods_deleteagent">deleteAgent()</h3>
<div class="deleteagent"><div class="deleteagent-page"><p>Broadcasts deleteAgent event</p>
</div></div>
</li>
<li><h3 id="methods_deleteagent">deleteAgent()</h3>
<div class="deleteagent"><div class="deleteagent-page"><p>Binds deleteAgent event to action</p>
</div></div>
</li>
<li><h3 id="methods_editagent">editAgent()</h3>
<div class="editagent"><div class="editagent-page"><p>Boardcasts editAgent event</p>
</div></div>
</li>
<li><h3 id="methods_editagent">editAgent()</h3>
<div class="editagent"><div class="editagent-page"><p>Binds editAgent event to action</p>
</div></div>
</li>
<li><h3 id="methods_getagents">getAgents()</h3>
<div class="getagents"><div class="getagents-page"><p>Queries API for view data</p>
</div></div>
</li>
<li><h3 id="methods_removefilter">removeFilter()</h3>
<div class="removefilter"><div class="removefilter-page"><p>This method removes filters and returns view to initial state</p>
</div></div>
</li>
</ul>
</div>
</div>
