<h1><code ng:non-bindable="">AddMarketDialogController</code>
<div><span class="hint">controller in module <code ng:non-bindable="">app.cora.admin-ui</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-cora-admin-ui-controller-page app-cora-admin-ui-controller-addmarketdialogcontroller-page"><p>This is a controller for the Add Markets Dialog</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_getdistricts">getDistricts()</h3>
<div class="getdistricts"><div class="getdistricts-page"><p>Queries API for Distr</p>
</div></div>
</li>
<li><h3 id="methods_getdistricts">getDistricts()</h3>
<div class="getdistricts"><div class="getdistricts-page"><p>Queries API for Distr</p>
</div></div>
</li>
<li><h3 id="methods_gettowns">getTowns()</h3>
<div class="gettowns"><div class="gettowns-page"><p>Queries API for Towns</p>
</div></div>
</li>
</ul>
</div>
</div>
