<md-card>
    <md-toolbar class="padding-20 text-center" md-theme="{{::triSkin.elements.logo}}">
        <a ng-href="{{'http://'+vm.siteURL+'/'}}"><img ng-src="{{::vm.triSettings.logo}}" alt="{{vm.triSettings.name}}"></a>
        <h1 class="md-headline" translate>Reset your password.</h1>
        <h4 palette-background="griffin-orange:50" ng-if="vm.resetFailed"  translate>{{vm.errorMessage}}</h4>
    </md-toolbar>

    <md-content class="md-padding">
        <p translate>Please enter your new password below</p>
        <form name="forgot">
          <md-input-container class="md-block">
              <label for="password" translate>Password</label>
              <input id="password" label="password" name="password" type="password" ng-model="vm.user.password" tri-same-password="signup.confirm" ng-minlength="8" required/>
              <ng-messages for="signup.password.$error" md-auto-hide="false" ng-show="signup.password.$touched">
                  <div ng-message when="required">
                      <span translate>Please enter a password</span>
                  </div>
                  <div ng-message when="minlength">
                      <span translate>Your password must be greater than 8 characters long</span>
                  </div>
                  <div ng-message when="samePassword">
                      <span translate>You need to enter the same password</span>
                  </div>
              </ng-messages>
          </md-input-container>

          <md-input-container class="md-block">
              <label for="password" translate>Confirm Password</label>
              <input id="confirm" label="confirm" name="confirm" type="password" ng-model="vm.user.confirmation" tri-same-password="signup.password" ng-minlength="8" required/>
              <ng-messages for="signup.confirm.$error" md-auto-hide="false" ng-show="signup.confirm.$touched">
                  <div ng-message when="required">
                      <span translate>Please enter a password</span>
                  </div>
                  <div ng-message when="minlength">
                      <span translate>Your password must be greater than 8 characters long</span>
                  </div>
                  <div ng-message when="samePassword">
                      <span translate>You need to enter the same password</span>
                  </div>
              </ng-messages>
          </md-input-container>

            <md-button class="md-raised md-primary white-text full-width margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" ng-click="vm.resetClick()" ng-disabled="forgot.$invalid" translate="Reset" aria-label="{{'Reset' | triTranslate}}"></md-button>

            <md-button class="md-primary full-width margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" href="#/login" translate="Remembered it? Login in here" aria-label="{{'Remembered it? Login in here' | triTranslate}}"></md-button>
        </form>
    </md-content>
</md-card>
