

<div class="full-image-background mb-bg-04 padding-20 padding-top-120 overlay-gradient-30" layout="row" layout-align="center start">


</div>

<div layout="row" layout-xs="column" layout-margin layout-align="space-between stretch" style="margin-top:-72px; z-index:5">
    <div class="md-whiteframe-1dp" flex layout="column">


        <md-toolbar ng-hide="vm.selected.length || vm.filter.show">
          <div class="md-toolbar-tools">
              <h2 class="md-title">{{vm.userType}}s</h2>
              <div flex></div>

              <md-button class="md-icon-button" ng-click="vm.filter.show = true">
                  <md-icon md-font-icon="zmdi zmdi-search"></md-icon>
              </md-button>
          </div>
        </md-toolbar>
        <md-toolbar class="md-table-toolbar alternate" ng-show="vm.selected.length">
          <div class="md-toolbar-tools" layout-align="start center">
              <div>{{vm.selected.length > 1 ? vm.selected.length : ""}} {{vm.selected.length > 1 ? 'Administrators' : vm.selected[0].name}} Selected</div>
              <div flex></div>
              <md-button ng-if="vm.selected.length == 1" ng-click="vm.editUser($event)" class="md-icon-button">
                  <md-icon md-font-icon="zmdi zmdi-edit"></md-icon>
              </md-button>

              <md-button class="md-icon-button toolbar-button animated" ng-click="vm.deleteUser($event)">
                  <md-icon md-font-icon="zmdi zmdi-delete"></md-icon>
              </md-button>
          </div>

        </md-toolbar>
        <md-toolbar ng-show="vm.filter.show && !vm.selected.length" class="md-table-toolbar md-default">
          <div class="md-toolbar-tools">
              <md-icon md-font-icon="zmdi zmdi-search" class="text-light"></md-icon>
              <form flex="" name="vm.filter.form">
                  <input type="text" ng-model="vm.query.search" ng-model-options="vm.filter.options" placeholder="search">
              </form>
              <md-button class="md-icon-button" ng-click="vm.removeFilter()">
                  <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
              </md-button>
          </div>
        </md-toolbar>

        <md-content style="padding:20px; height:98%">

            <div >




              <md-table-container>
                <table md-table class="md-primary md-data-table" md-row-select multiple ng-model="vm.selected" md-progress="vm.resource.then()">
                    <thead md-head md-order="vm.query.order" md-on-reorder="vm.getUsers">
                        <tr md-row>

                            <th md-column md-order-by="first_name"><span translate>{{vm.columns.first_name}}</span></th>
                            <th md-column md-order-by="last_name"><span translate>{{vm.columns.last_name}}</span></th>
                            <th md-column md-order-by="phonenumber"><span translate>{{vm.columns.phone_number}}</span></th>
                            <th md-column md-order-by="email"><span translate>{{vm.columns.email}}</span></th>
                            <th md-column md-order-by="address"><span translate>{{vm.columns.address}}</span></th>
                            <th md-column  md-order-by="datecreated"><span translate>{{vm.columns.date_created}}</span></th>
                            <th md-column  md-order-by="lastupdated"><span translate>{{vm.columns.last_updated}}</span></th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row md-select="user" md-select-id="id" md-auto-select ng-repeat="user in vm.users">



                            <td md-cell>{{::user.first_name}}</td>
                            <td md-cell>{{::user.last_name}}</td>
                            <td md-cell>{{::user.phone_number}}</td>
                            <td md-cell>{{::user.email}}</td>
                            <td md-cell>{{::user.address}}</td>
                            <td md-cell>{{::user.date_created | date: 'MMM dd, yyyy'}}</td>
                            <td md-cell>{{::user.date_updated | date: 'MMM dd, yyyy'}}</td>
                        </tr>
                    </tbody>
                </table>
              </md-table-container>

              <md-table-pagination md-limit="vm.query.limit" md-page-select md-page="vm.query.page" md-total="{{vm.total_count}}" md-on-paginate="vm.getUsers"></md-table-pagination>
              </div>




        </md-content>

    </div>

</div>



<md-fab-toolbar class="md-fab md-fab-bottom-right md-left" id="addFab" flex>
    <md-fab-trigger class="align-with-text">
        <md-button aria-label="menu" class="md-fab md-accent">
            <md-icon md-font-icon="zmdi zmdi-chevron-left"></md-icon>
            <md-tooltip>Add Users</md-tooltip>
        </md-button>
    </md-fab-trigger>
    <md-toolbar>
        <md-fab-actions class="md-toolbar-tools">
            <md-button ng-click="vm.addUser($event)" class="md-icon-button">
                <md-icon md-font-icon="zmdi zmdi-plus"></md-icon>

            </md-button>
            <md-button aria-label="upload users" class="md-icon-button" ngf-select="vm.uploadUsers($files)" ngf-multiple="false" ngf-accept="'.csv'">
                <md-icon md-font-icon="zmdi zmdi-upload"></md-icon>
            </md-button>

        </md-fab-actions>
    </md-toolbar>
</md-fab-toolbar>
