<div class="full-image-background mb-bg-29 padding-20 padding-top-50 overlay-gradient-30" layout="row" layout-align="center start">
    <div class="margin-right-20">

        <a href="https://en.gravatar.com/connect/?source=_signup" target="_blank"><img class="make-round" gravatar-src="vm.loggedInUser.email" gravatar-size="100"><md-tooltip>Click to update your profile picture on Gravatar!</md-tooltip></a>
    </div>
    <div class="text-light" flex="50">
        <h3 class="font-weight-600 margin-bottom-0 text-light">{{vm.loggedInUser.firstname + " " + vm.loggedInUser.lastname}}</h3>
        <p class="font-weight-300 margin-top-0 margin-bottom-0">{{vm.user.position}}</p>
        <p class="font-weight-400 margin-top-0 margin-bottom-0" >{{vm.user.organization}}</p>
        <p class="font-weight-300 margin-top-0 margin-bottom-0">{{vm.loggedInUser.email}}</p>
        <p class="font-weight-300 margin-top-0 margin-bottom-0">{{vm.user.contact_number}}</p>
        <p class="font-weight-300 margin-top-0 margin-bottom-0">{{vm.user.physical_address}}</p>
        <p class="font-weight-300 margin-top-0 margin-bottom-0">{{vm.user.website}}</p>
        <md-divider class="margin-top-10"></md-divider>

        <p>
          Welcome to the {{vm.competitionName}} submission page.
We are excited to have your startup become part of the StartUp Cup family of entrepreneurs. As a first step you will want to fill out the online form found below. You may want to consider copying the Business Model short form and filling out the business questions in advance of making your official submission. Please abide by the word count limitation. All submission will remain confidential.
        </p>
        <p class="font-weight-300 margin-top-0 margin-bottom-0">{{vm.user.biography}}</p>

     </div>
</div>

<div layout="row" class="profile" layout-wrap>
    <div flex="100" flex-gt-md="100">
        <md-tabs md-dynamic-height md-border-bottom>
            <!--md-tab label="Update your Profile">
                <md-content class="md-padding">
                    <form name="profile">
                      <md-input-container ng-repeat = "field in vm.inputs" class="md-block">
                          <label translate>{{field.label}}</label>
                          <input
                              dynamic-model="'vm.user.'+field.name"
                              class="dialog-close"
                              name="task" ng-required={{field.required}}
                              ng-maxlength="{{field.maxlength}}"/>
                          <div ng-messages="taskForm.task.$error">
                              <div ng-message when="required">
                                  <span translate>Please enter a {{field.label | lowercase}}</span>
                              </div>
                              <div ng-message when="maxlength">
                                  <span translate>The {{vm.model.objectType | lowercase}} name should not be longer than 50 characters</span>
                              </div>
                          </div>
                      </md-input-container>
                      <div ng-repeat = "select in vm.selects">
                        <md-select placeholder="Select {{select.label}}"  dynamic-model="'vm.user.'+select.name">
                            <md-option ng-repeat = "ref in select.refs"value="{{ref.id}}">{{ref.name || ref.first_name + ' ' + ref.last_name}}</md-option>

                        </md-select>
                      </div>

                      <div ng-repeat = "select in vm.predefinedSelects">
                        <md-select placeholder="Select {{select.label}}" dynamic-model="'vm.user.'+select.name">
                            <md-option ng-repeat = "ref in select.refs"value="{{ref.value}}">{{ref.label}}</md-option>

                        </md-select>
                      </div>



                      <div ng-repeat = "dateCtrl in vm.dateControls">
                        <md-datepicker dynamic-model="'vm.user.'+dateCtrl.name" md-placeholder="{{dateCtrl.label}}"></md-datepicker>
                      </div>

                        <md-button class="md-raised white-text md-primary margin-left-0" ng-disabled="profile.$invalid" translate="Update Profile" ng-click="vm.updateProfile()"></md-button>
                    </form>
                </md-content>
            </md-tab-->
            <md-tab label="Submit your Business Model">
                <md-content class="md-padding">
                    <!--form name="password">
                        <md-input-container class="md-block">
                            <label for="idea" translate>Please share your business idea (100 words or less)</label>
                            <input id="idea" label="idea" name="idea" type="text" ng-model="vm.submission.idea" ng-minlengh = "10" ng-maxlength = "100" required/>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label for="solution" translate>What need and/or solution are you filling? (100 words or less)</label>
                            <input id="solution" label="solution" name="solution" type="text" ng-model="vm.submission.solution" ng-minlengh = "10" ng-maxlength = "100" required/>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label for="product" translate>Please share a little about your product and/or service (200 words or less)</label>
                            <input id="product" label="product" name="product" type="text" ng-model="vm.submission.product" ng-minlengh = "10" ng-maxlength = "200" required/>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label for="market" translate>Tell us a little about your market size? (100 words or less)</label>
                            <input id="market" label="market" name="market" type="text" ng-model="vm.submission.market" ng-minlengh = "10" ng-maxlength = "100" required/>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label for="revenue" translate>How does your company make money? What revenue stream and/or streams do you have? (200 words or less)</label>
                            <input id="revenue" label="revenue" name="revenue" type="text" ng-model="vm.submission.revenue" ng-minlengh = "10" ng-maxlength = "200" required/>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label for="team" translate>Who is on your management team and what is their experience? (200 words or less)</label>
                            <input id="team" label="team" name="team" type="text" ng-model="vm.submission.team" ng-minlengh = "10" ng-maxlength = "200" required/>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label for="strategy" translate>Share with us how you are going to grow revenue. What is your strategy to secure customers? (200 words or less)</label>
                            <input id="strategy" label="strategy" name="strategy" type="text" ng-model="vm.submission.strategy" ng-minlengh = "10" ng-maxlength = "200" required/>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label for="funding" translate>How are you currently funding your business? (100 words or less)</label>
                            <input id="funding" label="funding" name="funding" type="text" ng-model="vm.submission.funding" ng-minlengh = "10" ng-maxlength = "100" required/>
                        </md-input-container>

                        <md-button class="md-raised white-text md-primary margin-left-0" ng-disabled="profile.$invalid" translate="Submit"></md-button>

                    </form-->
                    <form name="taskForm" novalidate layout="column"  autocomplete="off">

                        <md-input-container ng-repeat = "field in vm.formPreview.inputs">
                            <label translate>{{field.label}}</label>
                            <input
                                dynamic-model="'vm.submission.'+field.name"
                                class="dialog-close"
                                name="task" ng-required={{field.required}}
                                max-word-count="{{field.max_length}}"
                                ng-minlength="{{field.min_length}}"/>
                            <div ng-messages="taskForm.task.$error">
                                <div ng-message when="required">
                                    <span translate>Please enter a {{field.name | lowercase}}</span>
                                </div>
                                <div ng-message when="maxlength">
                                    <span translate>The {{field.name | lowercase}} should not be longer than {{field.max_length}} characters</span>
                                </div>
                                <div ng-message when="minlength">
                                    <span translate>The {{field.name | lowercase}} should be at least {{field.min_length}} characters</span>
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container ng-repeat = "field in vm.formPreview.textAreas">
                            <label translate>{{field.label}}</label>
                            <textarea
                                dynamic-model="'vm.submission.'+field.name"
                                class="dialog-close"
                                name="task" ng-required={{field.required}}
                                max-word-count="{{field.max_length}}"
                                ng-minlength="{{field.min_length}}"/>
                                </textarea>
                                <div ng-messages="taskForm.task.$error">
                                    <div ng-message when="required">
                                        <span translate>Please enter a {{field.name | lowercase}}</span>
                                    </div>
                                    <div ng-message when="maxlength">
                                        <span translate>The {{field.name | lowercase}} should not be longer than {{field.max_length}} characters</span>
                                    </div>
                                    <div ng-message when="minlength">
                                        <span translate>The {{field.name | lowercase}} should be at least {{field.min_length}} characters</span>
                                    </div>
                                </div>
                        </md-input-container>
                        <div ng-repeat = "select in vm.formPreview.selects">
                          <md-select placeholder="Select {{select.label}}" >
                              <md-option ng-repeat = "ref in select.refs"value="{{ref.id}}">{{ref.name || ref.first_name + ' ' + ref.last_name}}</md-option>

                          </md-select>
                        </div>

                        <div ng-repeat = "dateCtrl in vm.formPreview.dateControls">
                          <md-datepicker md-placeholder="{{dateCtrl.label}}"></md-datepicker>
                        </div>
                        <div flex="200">
                          <md-button class="md-raised white-text md-primary margin-left-0" ng-disabled="profile.$invalid" translate="Submit your Business Model" ng-click="vm.submit()" flex="50"></md-button>
                        </div>




                    </form>
                </md-content>
            </md-tab>

        </md-tabs>
    </div>

</div>
