<div class="md-toolbar-tools">
    <div class="sidebar-left-logo" ng-if="vm.sidebaroff">
        <a ng-href="{{'http://'+vm.siteURL+'/'}}"><img ng-src="{{::vm.navbarInfo.appLogo}}" alt="{{::vm.navbarInfo.appName}}"></a>
    </div>

    <h2 hide-xs flex>
        <span ng-repeat="crumb in vm.breadcrumbs.crumbs">
            <span translate>{{crumb.name}}</span>
            <md-icon md-font-icon="zmdi zmdi-chevron-right" ng-if="!$last"></md-icon>
        </span>
    </h2>

    <md-button class="md-icon-button toolbar-button" ng-click="vm.toggleFullScreen()" aria-label="toggle fullscreen">
        <md-icon md-font-icon ng-class="vm.fullScreenIcon"></md-icon>
    </md-button>







    <md-menu>
        <md-button aria-label="Open user menu" ng-click="$mdOpenMenu()" aria-label="side navigation">
            <!--img class="toolbar-user-avatar" ng-src="{{vm.currentUser.avatar}}"-->
            <img class="toolbar-user-avatar" gravatar-src="vm.currentUser.email" gravatar-size="100">
            {{vm.currentUser.displayName}}
        </md-button>
        <md-menu-content width="4">
            <!--md-menu-item>
                <md-button ng-click="vm.toggleNotificationsTab(2)" aria-label="side navigation">
                    <md-icon md-font-icon="zmdi zmdi-settings"></md-icon>
                    <span translate="Settings"></span>
                </md-button>
            </md-menu-item-->
            <!--md-menu-item>
                <md-button href="#/profile" aria-label="side navigation">
                    <md-icon md-font-icon="zmdi zmdi-account"></md-icon>
                    <span translate="Profile"></span>
                </md-button>
            </md-menu-item-->
            <md-menu-divider></md-menu-divider>
            <md-menu-item ng-controller = "LoginController as vm">
                <md-button aria-label="side navigation" ng-click="vm.logOut()">
                    <md-icon md-font-icon="zmdi zmdi-sign-in"></md-icon>
                    <span translate="Logout"></span>
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</div>
