<md-card>
    <md-toolbar class="padding-20 text-center" md-theme="{{::triSkin.elements.logo}}">
        <a ng-href="{{'http://'+vm.siteURL+'/'}}"><img ng-src="{{::vm.triSettings.logo}}" alt="{{vm.triSettings.name}}"></a>
        <h1 class="md-headline" translate>Forgot your password?</h1>
    </md-toolbar>

    <md-content class="md-padding">
        <p translate>Please enter your email below</p>
        <form name="forgot">
            <md-input-container class="md-block">
                <label for="email" translate>email</label>
                <input id="email" label="email" name="email" type="email" ng-model="vm.user.email" required/>
                <div ng-messages="forgot.email.$error" md-auto-hide="false" ng-show="forgot.email.$touched">
                    <div ng-message when="required"><span translate>Please enter your email address.</span></div>
                    <div ng-message when="email"><span translate>Please enter a valid email address.</span></div>
                </div>
            </md-input-container>

            <md-button class="md-raised md-primary white-text full-width margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" ng-click="vm.resetClick()" ng-disabled="forgot.$invalid" translate="Reset" aria-label="{{'Reset' | triTranslate}}"></md-button>

            <md-button class="md-primary full-width margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" href="#/login" translate="Remembered it? Login in here" aria-label="{{'Remembered it? Login in here' | triTranslate}}"></md-button>
        </form>
    </md-content>
</md-card>
