<md-dialog aria-label="Submission Form Creation" flex="50" flex-xs="100">

      <md-tabs class="md-primary" md-selected="selectedTabIndex" layout-fill  md-dynamic-height>
        <md-tab label="Form Details">
            <md-content class="md-padding">

                <form name="taskForm" novalidate layout="column" ng-if="vm.editMode" autocomplete="off">
                    <md-input-container ng-repeat = "field in vm.inputs">
                        <label translate>{{field.label}}</label>
                        <input
                            dynamic-model="'vm.object.'+field.name"
                            class="dialog-close"
                            name="task" ng-required={{field.required}}
                            ng-maxlength="{{field.maxtrlength}}"/>
                        <div ng-messages="taskForm.task.$error">
                            <div ng-message when="required">
                                <span translate>Please enter a {{vm.model.objectType | lowercase}} name</span>
                            </div>
                            <div ng-message when="maxlength">
                                <span translate>The {{vm.model.objectType | lowercase}} name should not be longer than 50 characters</span>
                            </div>
                        </div>
                    </md-input-container>
                    <div ng-repeat = "select in vm.selects">
                      <md-select placeholder="Select {{select.label}}"  dynamic-model="'vm.object.'+select.name">
                          <md-option ng-repeat = "ref in select.refs"value="{{ref.id}}">{{ref.name || ref.first_name + ' ' + ref.last_name}}</md-option>

                      </md-select>
                    </div>

                    <div ng-repeat = "select in vm.predefinedSelects">
                      <md-select placeholder="{{select.label}}" dynamic-model="'vm.object.'+select.name">
                          <md-option ng-repeat = "ref in select.refs" value="{{ref.value}}">{{ref.label}}</md-option>

                      </md-select>
                    </div>


                    <div ng-repeat = "chip in vm.chips" ng-controller = "ReferenceSelectorController as ctrl">
                      {{chip.name}}xxx
                      <!--md-chips dynamic-model="'vm.object.'+type.substring(0, type.length-1)+'_set'"
                                md-transform-chip="ctrl.transformChip($chip)"
                                md-require-match="ctrl.autocompleteDemoRequireMatch"
                                name = "{{chip.name}}">
                          <md-autocomplete
                              md-selected-item="ctrl.selectedItem"
                              md-search-text="ctrl.searchText"
                              md-items="item in ctrl.delayedQuerySearch(ctrl.searchText)"
                              md-item-text="item.name"
                              placeholder="+ {{chip.name}}">
                            <span md-highlight-text="ctrl.searchText">{{item.name}}</span>
                          </md-autocomplete>
                          <md-chip-template>
                            <span>
                              {{ctrl.current = chip.name;}}
                              <strong>{{$chip.name}}</strong>

                            </span>
                          </md-chip-template>
                      </md-chips-->
                      <md-contact-chips dynamic-model="'ctrl.refs.'+type.substring(0, type.length-1)+'_set'"
                          dynamic-model="'vm.object.'+type.substring(0, type.length-1)+'_set'"
                          md-contacts="ctrl.delayedQuerySearch($query, chip.name)"
                          md-contact-name="name"
                          md-contact-image="image"
                          md-contact-email="email"
                          md-require-match="true"
                          md-highlight-flags="i"
                          filter-selected="ctrl.filterSelected"
                          placeholder="To">
                      </md-contact-chips>
                    </div>
                    <div ng-repeat = "dateCtrl in vm.dateControls">
                      <md-datepicker dynamic-model="'vm.object.'+dateCtrl.name" md-placeholder="{{dateCtrl.label}}"></md-datepicker>
                    </div>




                </form>

                <md-grid-list md-cols-gt-md="3" md-cols-xs="3" md-cols-md="4" md-row-height="1:1" md-gutter="2px">
                    <md-grid-tile md-colspan="1" md-rowspan="1" ng-repeat="album in music.albums" ng-style="{ 'background-image': 'url(' + album.cover + ')' }">
                        <md-grid-tile-footer>
                            <h3>{{album.title}}</h3>
                        </md-grid-tile-footer>
                    </md-grid-tile>
                </md-grid-list>
            </md-content>
        </md-tab>
        <md-tab label="Form Fields">
          <md-content class="md-padding">
            <div layout="row">
              <div flex="5">

              </div>
              <div layout="column">
                  <h3>Add Field</h3>
                  <md-input-container flex>
                    <label>Field Name</label>
                    <input type="text" ng-model="vm.currentField.name">
                  </md-input-container>

                  <md-input-container flex>
                    <label>Field Label</label>
                    <input type="text" ng-model="vm.currentField.label">
                  </md-input-container>
                  <md-input-container flex>
                    <label>Min Length</label>
                    <input type="text" ng-model="vm.currentField.min_length">
                  </md-input-container>
                  <md-input-container flex>
                    <label>Max Length</label>
                    <input type="text" ng-model="vm.currentField.max_length">
                  </md-input-container>
                  <md-input-container flex>
                    <md-select placeholder="Field Type" ng-model="vm.currentField.type">
                        <md-option value="text">Text</md-option>
                        <md-option value="number">Text (Number)</md-option>
                        <md-option value="email">Text (Email)</md-option>
                        <md-option value="textArea">Text Area</md-option>
                        <md-option value="select">Select</md-option>

                    </md-select>
                  </md-input-container>
                  <md-input-container flex>
                    <md-select placeholder="Required" ng-model="vm.currentField.required">
                        <md-option value="true">Yes</md-option>
                        <md-option value="false">No</md-option>


                    </md-select>
                  </md-input-container>
                  <md-button class="md-raised" aria-label="flat button" ng-click="vm.addNewField()">Add Field</md-button>
              </div>

              <div flex="5">

              </div>

              <div layout="column" flex="65">
                <h3>Current Form Fields</h3>

                <md-table-container>
                  <table md-table class="md-primary md-data-table" md-row-select multiple ng-model="vm.selectedfields" md-progress="vm.resource.then()">
                      <thead md-head md-order="vm.query.order" md-on-reorder="vm.getEntities">
                          <tr md-row>

                              <th md-column>
                                Field Name
                              </th>
                              <th md-column>
                                Field Type
                              </th>
                              <th md-column>
                                Field Label
                              </th>
                              <th md-column>
                                Actions
                              </th>
                          </tr>
                      </thead>
                      <tbody md-body>
                          <tr md-row md-select="field" md-select-id="id" md-auto-select ng-repeat="field in vm.object.fields" >



                              <td md-cell>{{field.name}}</td>
                              <td md-cell>{{field.type}}</td>
                              <td md-cell>{{field.label}}</td>
                              <td md-cell><md-button class="md-icon-button toolbar-button animated" ng-click="vm.deleteField($index)">
                                  <md-icon md-font-icon="zmdi zmdi-delete"></md-icon>
                              </md-button></td>
                          </tr>
                      </tbody>
                  </table>
                </md-table-container>
              </div>


            </div>



            </md-content>
        </md-tab>
        <md-tab label="Form Preview">
            <md-content class="md-padding">

                <form name="taskForm" novalidate layout="column" ng-if="vm.editMode" autocomplete="off">
                    <md-input-container ng-repeat = "field in vm.formPreview.inputs">
                        <label translate>{{field.label}}</label>
                        <input

                            class="dialog-close"
                            name="task" ng-required={{field.required}}
                            ng-maxlength="{{field.maxtrlength}}"/>
                        <div ng-messages="taskForm.task.$error">
                            <div ng-message when="required">
                                <span translate>Please enter a {{vm.model.objectType | lowercase}} name</span>
                            </div>
                            <div ng-message when="maxlength">
                                <span translate>The {{vm.model.objectType | lowercase}} name should not be longer than 50 characters</span>
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container ng-repeat = "field in vm.formPreview.textAreas">
                        <label translate>{{field.label}}</label>
                        <textarea

                            class="dialog-close"
                            name="task" ng-required={{field.required}}
                            ng-maxlength="{{field.maxtrlength}}"></textarea>
                        <div ng-messages="taskForm.task.$error">
                            <div ng-message when="required">
                                <span translate>Please enter a {{vm.model.objectType | lowercase}} name</span>
                            </div>
                            <div ng-message when="maxlength">
                                <span translate>The {{vm.model.objectType | lowercase}} name should not be longer than 50 characters</span>
                            </div>
                        </div>
                    </md-input-container>
                    <div ng-repeat = "select in vm.formPreview.selects">
                      <md-select placeholder="Select {{select.label}}" >
                          <md-option ng-repeat = "ref in select.refs"value="{{ref.id}}">{{ref.name || ref.first_name + ' ' + ref.last_name}}</md-option>

                      </md-select>
                    </div>

                    <div ng-repeat = "dateCtrl in vm.formPreview.dateControls">
                      <md-datepicker md-placeholder="{{dateCtrl.label}}"></md-datepicker>
                    </div>




                </form>

                <md-grid-list md-cols-gt-md="3" md-cols-xs="3" md-cols-md="4" md-row-height="1:1" md-gutter="2px">
                    <md-grid-tile md-colspan="1" md-rowspan="1" ng-repeat="album in music.albums" ng-style="{ 'background-image': 'url(' + album.cover + ')' }">
                        <md-grid-tile-footer>
                            <h3>{{album.title}}</h3>
                        </md-grid-tile-footer>
                    </md-grid-tile>
                </md-grid-list>
            </md-content>
        </md-tab>
      </md-tabs>
      <md-dialog-actions layout="row" >
          <span flex></span>
          <md-button ng-click="vm.cancel()">Cancel</md-button>
          <md-button ng-click="vm.hide()" class="md-primary" ng-disabled="taskForm.$invalid" ng-if = "vm.editMode">Save</md-button>
      </md-dialog-actions>


</md-dialog>
