<md-tab label="General">
    <md-content class="md-padding">
        <h3>User Details</h3>
        <form>
            <md-input-container class="md-block">
                <label>Username</label>
                <input type="text">
            </md-input-container>
            <md-input-container class="md-block">
                <label>Password</label>
                <input type="text">
            </md-input-container>
            <md-input-container class="md-block">
                <label>Email</label>
                <input type="text">
            </md-input-container>
            <md-input-container class="md-block">
                <label>Twitter</label>
                <input type="text">
            </md-input-container>
            <div layout="row" layout-align="end center">
                <md-button>Update</md-button>
            </div>
        </form>
        <md-grid-list md-cols-gt-md="3" md-cols-xs="3" md-cols-md="4" md-row-height="1:1" md-gutter="2px">
            <md-grid-tile md-colspan="1" md-rowspan="1" ng-repeat="album in music.albums" ng-style="{ 'background-image': 'url(' + album.cover + ')' }">
                <md-grid-tile-footer>
                    <h3>{{album.title}}</h3>
                </md-grid-tile-footer>
            </md-grid-tile>
        </md-grid-list>
    </md-content>
</md-tab>
